
.completed-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-task-completed {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.completed-task-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    box-shadow: 2px 3px 8px 2px rgb(10, 10, 10, 0.2);
}

.remove-task-completed {
    display: flex;
    justify-content: center;
    margin: 10px;
    border: 1px solid rgb(231, 67, 17);
    padding: 8px;
    background-color: rgb(138, 24, 24);
    color: white;
    border-radius: 5px;
}

.tasks-completed {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: stretch;
    gap: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border-radius: 8px;
    width: 100%;
}

.tasks-completed span {
    display: flex;
    align-items: center;
}

.completed-task-section p {
    margin: 0;
}
