
body, 
* {
    margin: 0;
    padding: 0;
}

.whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height: 945px;
    box-shadow: 2px 3px 8px 2px rgb(10, 10, 10, 0.2);
}

.completed-task {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    position: relative;
}

.comp-task {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(8, 105, 15);
    color: white;
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    font-size: 20px;
}

.task-num-comp {
    position: absolute;
    left: 135px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 2px 10px 2px 10px;
    border-radius: 50%;
    background-color: rgb(12, 145, 63);
    color: white;
}

.popup-completed {
    margin: 10px;
    border: 1px solid rgb(78, 231, 17);
    padding: 8px;
    background-color: rgb(24, 138, 24);
    color: white;
    border-radius: 5px;
}

.home-element {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

input {
    padding: 15px 50px 15px 10px;
    font-size: 15px;
}

.input-element, input {
    display: flex;
    gap: 5px;
}

.add-btn {
    padding: 18px 15px 18px 15px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.task-status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    align-items: flex-start;
}

.sts-pending,
.sts-completed {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.no-pending-task {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.tasks {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.tasks-display {
    margin-bottom: 0;
}